<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<header class="adminnavbar">
  <div class="logo">
    <h1><a href="/">EKİP PORTFÖY</a></h1>
  </div>
  <nav class="nav-links">
    <a href="/">Ana Sayfa</a>
    <a href="/about">Hakkımızda</a>
    <a href="/blogs">Blog</a>
    <a href="/clips/all">Kick Kliplerimiz</a>
    <a href="/contact">İletişim</a>
  </nav>
  <button class="menu-toggle" aria-label="Menüyü Aç">
    <i class="fas fa-bars"></i>
  </button>
</header>
<script>
  const menuToggle = document.querySelector('.menu-toggle');
  const navLinks = document.querySelector('.nav-links');

  menuToggle.addEventListener('click', () => {
    navLinks.classList.toggle('show');
    menuToggle.innerHTML = navLinks.classList.contains('show') ? '<i class="fas fa-times"></i>' : '<i class="fas fa-bars"></i>';
  });
</script>

