<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('../partials/adminHeader') %>
  <main class="chat-main">
    <h2>Canlı Kick Chat</h2>
    <div class="chat-container">
      <iframe
        src="https://kick.com/popout/beta44/chat"
        frameborder="0"
        width="100%"
        height="500px"
        allowfullscreen>
      </iframe>
    </div>
  </main>
</body>
</html>
